@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyWallet.ViewModel
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <Popover Placement="@Placement.BottomRight" Visible="_clickVisible" Trigger="@(new[] {AntDesign.Trigger.Click})" Class="d-flex justify-content-end">
            <ContentTemplate>
                <div class="container">
                    <div class="user-avatar">
                        <Avatar Src="@context.User.Claims.First(x => x.Type == "picture").Value" Size="large" Icon="user"/>
                        <Text Type="success">@context.User.Identity?.Name</Text>
                    </div>
                    <div class="items">
                        <Button Type="@ButtonType.Primary" OnClick="BeginLogOut" Icon="@IconType.Outline.Logout" Size="@ButtonSize.Default">Logout</Button>
                    </div>
                </div>
            </ContentTemplate>
            <ChildContent>
                <div class="content-child-div">
                    <Avatar Src="@context.User.Claims.First(x => x.Type == "picture").Value" Size="large" Class="mt-3" Icon="user" />
                </div>
            </ChildContent>
        </Popover>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-end align-items-center">
            <Button Type="@ButtonType.Primary" OnClick="SigninGoogle" Icon="@IconType.Outline.Login" Size="@ButtonSize.Default" Class="mt-3">Login</Button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private bool _clickVisible = false;
    
    private void BeginLogOut() =>
        Navigation.NavigateToLogout("authentication/logout");

    private void SigninGoogle() =>
        Navigation.NavigateTo("authentication/login");
    
    private void OnClickVisibleChange(bool visible)
    {
        _clickVisible = visible;
    }
    private void Close()
    {
        _clickVisible = false;
    }
}